<input type="text" [(ngModel)]="filtro" placeholder="Buscar por nombre o correo electrónico">

<button class="crear-btn" (click)="openCrearUsuarioModal()">Crear usuario</button>

<table>
    <tr>
        <th>Nombre</th>
        <th>Correo electrónico</th>
        <th>Rol</th>
        <th>Editar</th>
        <th>Eliminar</th>
    </tr>

    @for (usuario of usuarios | filter: filtro; track $index) {
        <tr>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.correoElectronico }}</td>
            <td>{{ usuario.rol }}</td>
            <td><button class="editar-btn" (click)="openEditarUsuarioModal(usuario)">Editar</button></td>
            <td><button class="eliminar-btn" (click)="eliminarUsuario(usuario.correoElectronico)">Eliminar</button></td>
        </tr>
    }
</table>