<div class="container">
    <div class="row">
      <div class="col-md-6">
        <input type="text" class="form-control mb-2" [(ngModel)]="filtro" placeholder="Buscar por nombre o correo electrónico">
      </div>
      <div class="col-md-6">
        <button class="btn btn-primary mb-2 float-right" (click)="openCrearUsuarioModal()">Crear usuario</button>
      </div>
    </div>
  
    <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Correo electrónico</th>
          <th scope="col">Rol</th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
          <th scope="col">Ver Rutinas</th>
        </tr>
      </thead>
      <tbody>
        @for (usuario of usuarios | filter: filtro; track $index) {
            <tr>
                <td>{{ usuario.name }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.role }}</td>
                <td><button class="editar-btn" (click)="openEditarUsuarioModal(usuario)">Editar</button></td>
                <td><button class="eliminar-btn" (click)="eliminarUsuario(usuario._id)">Eliminar</button></td>
                <td><button class="ver-rutinas-btn" (click)="verRutinas(usuario)">Ver Rutinas</button></td>
            </tr>
        }
      </tbody>
    </table>
    </div>
  </div>
  