/* Estilos para el contenedor principal */
.routine-planning {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para los títulos */
h2 {
  color: #333;
}

h3 {
  color: #666;
}

/* Estilos para los elementos de entrada */
input[type="date"],
input[type="number"] {
  padding: 8px;
  margin: 5px 0;
  width: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos para los botones */
button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos para el botón de añadir serie */
.add-set-button {
  background-color: #28a745;
}

/* Estilos para el contenedor de ejercicios */
.exercise-list {
  margin-top: 20px;
}

/* Estilos para las etiquetas */
label {
  font-weight: bold;
}

/* Estilos para los controles de serie */
.series {
  margin-bottom: 10px;
}


.ventana-emergente {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 20px;
  z-index: 9999;
}

.contenido-ventana {
  text-align: center;
}

.ventana-emergente button {
  margin-top: 10px;
}
