.modal-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2 {
    color: #007bff;
    margin-bottom: 20px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  button {
    margin-right: 10px;
  }
  
  .cancelar-button, .agregar-button {
    width: 150px;
    font-size: 16px;
  }
  
  .button-group {
    margin-top: 10px;
  }
  