/* Estilos modernos para la aplicaci贸n de gimnasio */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
  }
  
  .routine-execution {
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .series {
    margin-bottom: 15px;
  }
  
  .series label {
    display: inline-block;
    width: 30px;
  }
  
  .series input {
    width: calc(30% - 20px);
    margin-right: 10px;
  }
  
  button {
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; /* Espacio entre los botones y los elementos debajo */
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .ventana-emergente {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    color: white;
  }
  
  .contenido-ventana {
    text-align: center;
  }
  
  .contenido-ventana button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contenido-ventana button:hover {
    background-color: #45a049;
  }
  
  .pagination-controls {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  @media screen and (max-width: 600px) {
    .routine-execution {
      max-width: 100%;
    }
    
    .series input {
      width: calc(30% - 15px); /* Ajusta el margen para dispositivos m贸viles */
    }
    
    button {
      width: 100%; /* Botones a ancho completo en m贸viles */
      margin-right: 0; /* Quita el margen derecho */
    }
    
    .pagination-controls {
      flex-direction: column;
      align-items: center;
    }
    
    .pagination-controls button {
      width: 100%; /* Botones a ancho completo en m贸viles */
      margin-bottom: 10px; /* Espacio entre botones */
    }
  }
  