
@if (routine) {



    <div class="workout-tabs">
        <h2>{{ routine.name }}</h2>
        <div class="tabs">
          <div class="tab" [class.active]="selectedTab === 'details'" (click)="selectTab('details')">Detalles</div>
          <div class="tab" [class.active]="selectedTab === 'planned'" (click)="selectTab('planned')">Planificadas</div>
          <div class="tab" [class.active]="selectedTab === 'completed'" (click)="selectTab('completed')">Realizadas</div>
        </div>
        <div class="tab-content">
            @if (selectedTab === 'details') {

                <ng-container>

                    <h3>Ejercicios:</h3>
                    <ul>
                        @for (exercise of routine.exercises; track $index) {
                            <li >
                                {{ exercise.name }} - {{ exercise.description }}
                            </li>
                        }
                    </ul>

                </ng-container>

            }
            @else if (selectedTab === 'planned') {
                <app-planned-routines></app-planned-routines>
            } @else if (selectedTab === 'completed') {
                <app-completed-routines></app-completed-routines>  
            }
            
        </div>
      </div>
    <div>
      </div>

}



  