<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Crear Nuevo Usuario</h5>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #crearUsuarioForm="ngForm" (ngSubmit)="crearUsuario(crearUsuarioForm)">
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nuevoUsuario.name" required>
        </div>
        <div class="form-group">
          <label for="correo">Correo electrónico:</label>
          <input type="email" class="form-control" id="correo" name="correo" [(ngModel)]="nuevoUsuario.email" required>
        </div>
        <div class="form-group">
          <label for="rol">Rol:</label>
          <select class="form-control" id="rol" name="rol" [(ngModel)]="nuevoUsuario.role" required>
            @for (item of roles; track $index) {
              <option [value]="item"> {{item}}</option>
            }
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">Cerrar</button>
      </form>
    </div>
  </div>
</div>


  