<div class="modal-header">
    <h4 class="modal-title" id="modal-rutina">Formulario de Rutina</h4>
    <button type="button" class="close" aria-label="Close" (click)="onCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="experiencia">Experiencia entrenando:</label>
        <select formControlName="experiencia" id="experiencia" class="form-control">
          <option value="" disabled selected>Seleccione su experiencia</option>
          <option value="principiante">Principiante</option>
          <option value="intermedio">Intermedio</option>
          <option value="avanzado">Avanzado</option>
        </select>
      </div>
      <div class="form-group">
        <label for="detalles">Detalles de la rutina deseada:</label>
        <textarea formControlName="detalles" id="detalles" rows="4" class="form-control"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancelar</button>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </form>
  </div>
  