.container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .btn-group {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .btn-group button {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #004d9c;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-group button:hover {
    background-color: #005fc5;
  }
  
  .rutinas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .rutina-card {
    width: calc(100% - 20px);
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    transition: box-shadow 0.3s;
    position: relative;
  }
  
  .rutina-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .rutina-info {
    width: calc(100% - 130px); /* Restar el ancho de los botones */
  }
  
  .rutina-actions {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .rutina-actions button {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    background-color: #004d9c;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .rutina-actions button:hover {
    background-color: #005fc5;
  }
  
  .rutina-info h2 {
    margin-top: 0;
    color: #004d9c;
  }
  
  @media (max-width: 768px) {
    .rutina-card {
      width: calc(100% - 20px);
    }
  
    .rutina-actions {
      position: relative;
      top: auto;
      right: auto;
      margin-top: 10px;
    }
  
    .rutina-actions button {
      width: 100%;
    }
  }