<div class="container">
    <div class="btn-group">
      <button class="btn-crear" (click)="crearRutina()">Crear Rutina</button>
      <button class="btn-solicitar" (click)="solicitarRutina()">Solicitar Rutina</button>
    </div>
    <div class="rutinas">
        @for (rutina of rutinas; track $index) {
            <div class="rutina-card" (click)="consultarRutina(rutina)">
              <div class="rutina-info">
                <h2>{{ rutina.nombre }}</h2>
                <p>{{ rutina.descripcion }}</p>
              </div>
              <div class="rutina-actions">
                <button class="btn-planificar" (click)="planificarRutina(rutina.id)">Planificar</button>
                <button class="btn-eliminar" (click)="eliminarRutina(rutina.id)">Eliminar</button>
              </div>
            </div>
    
          
        }
    </div>
  </div>

