<div class="container">
<form [formGroup]="mailForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="subject">Asunto:</label>
    <input id="subject" formControlName="subject" type="text" />
    <div *ngIf="mailForm?.get('subject')?.invalid && (mailForm?.get('subject')?.dirty || mailForm?.get('subject')?.touched)">
      <small *ngIf="mailForm?.get('subject')?.errors?.['required']">El campo Asunto es requerido.</small>
    </div>
  </div>

  <div>
    <label for="message">Mensaje:</label>
    <textarea id="message" formControlName="message"></textarea>
    <div *ngIf="mailForm?.get('message')?.invalid && (mailForm?.get('message')?.dirty || mailForm?.get('message')?.touched)">
      <small *ngIf="mailForm?.get('message')?.errors?.['required']">El campo Mensaje es requerido.</small>
    </div>
  </div>

  <button type="submit" [disabled]="mailForm.invalid">Enviar</button>
</form>
</div>