<div class="modal-container modal-ancho">
  <h2>Crear Ejercicio</h2>
  <form #form="ngForm" (ngSubmit)="agregarEjercicio(form)">
    <div class="form-row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="nombre">Nombre del ejercicio</label>
          <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="newExercise.name" required>
        </div>
        <div class="form-group">
          <label>Enlace de Video de YouTube</label>
          <input type="url" class="form-control" id="video" name="video" [(ngModel)]="newExercise.video" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="dificultad">Dificultad</label>
          <select class="form-control" id="dificultad" name="dificultad" [(ngModel)]="newExercise.difficulty" required>
            <option value="Fácil">Fácil</option>
            <option value="Media">Media</option>
            <option value="Difícil">Difícil</option>
          </select>
        </div>
        <div class="form-group">
          <label for="grupoMuscular">Grupo Muscular</label>
          <select class="form-control" id="grupoMuscular" name="grupoMuscular" [(ngModel)]="newExercise.muscles" required>
            <option value="Tren Superior">Tren Superior</option>
            <option value="Tren Inferior">Tren Inferior</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <textarea class="form-control" id="descripcion" name="descripcion" [(ngModel)]="newExercise.description" required></textarea>
    </div>
    <div class="button-group">
      <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cancelar</button>
      <button type="submit" class="btn btn-primary">Agregar</button>
    </div>
  </form>
</div>
