<div class="modal-container">
  <h2>Crear Ejercicio</h2>
  <mat-form-field>
    <mat-label>Nombre del ejercicio</mat-label>
    <input matInput placeholder="Nombre del ejercicio" [(ngModel)]="nuevoEjercicio.nombre">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Dificultad</mat-label>
    <mat-select [(ngModel)]="nuevoEjercicio.dificultad">
      <mat-option value="Fácil">Fácil</mat-option>
      <mat-option value="Media">Media</mat-option>
      <mat-option value="Difícil">Difícil</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Grupo Muscular</mat-label>
    <mat-select [(ngModel)]="nuevoEjercicio.grupoMuscular">
      <mat-option value="Tren Superior">Tren Superior</mat-option>
      <mat-option value="Tren Inferior">Tren Inferior</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Descripción</mat-label>
    <textarea matInput placeholder="Descripción" [(ngModel)]="nuevoEjercicio.descripcion"></textarea>
  </mat-form-field>
  <button mat-button class="cancelar-button" (click)="cerrarModal()">Cancelar</button>
  <button mat-raised-button class="agregar-button" (click)="agregarEjercicio()">Agregar</button>
</div>