<div class="container">
    <h2>Lista de Ejercicios</h2>

    @if (esMonitorOCoordinador()) {
        <button class="eliminar-btn" (click)="openDialog()" style="float: right;">Crear ejercicio</button>
    }

    <div class="filter-btns">
        <button class="filter-btn" (click)="filtroDificultad = 'todas'; filtrarEjercicios()">Todas</button>
        <button class="filter-btn" (click)="filtroDificultad = 'Fácil'; filtrarEjercicios()">Fácil</button>
        <button class="filter-btn" (click)="filtroDificultad = 'Media'; filtrarEjercicios()">Media</button>
        <button class="filter-btn" (click)="filtroDificultad = 'Difícil'; filtrarEjercicios()">Difícil</button>
    </div>

    <div class="lista-ejercicios">
        @for (ejercicio of ejerciciosFiltrados; track $index) {

            <div class="ejercicio" (click)="consultarEjercicio(ejercicio)">
                <strong>Nombre:</strong> {{ ejercicio.nombre }}<br>
                <strong>Dificultad:</strong> {{ ejercicio.dificultad }}<br>
                <strong>Grupo Muscular:</strong> {{ ejercicio.grupoMuscular }}<br><br>
                @if (esMonitorOCoordinador()) {
                    <button class="eliminar-btn" (click)="eliminarEjercicio(ejercicio)">Eliminar</button>
                }
            </div>
        }
    </div>
  </div>
