<div class="container">
  <h2>Seleccionar Ejercicios</h2>
  <div class="search-container">
    <input type="text" placeholder="Buscar por nombre" (input)="searchExercise($event)" class="search-input" />
    <button class="filter-button" (click)="filterByMuscle('Tren Superior')">Tren Superior</button>
    <button class="filter-button" (click)="filterByMuscle('Tren Inferior')">Tren Inferior</button>
    <button class="filter-button" (click)="clearFilter()">Mostrar Todos</button>
  </div>
  <div class="exercises-container">
    <div class="available-exercises">
      <h3>Ejercicios Disponibles</h3>
      <div *ngFor="let exercise of filteredExercises; trackBy: trackById">
        <div class="exercise">
          <input type="checkbox" class="checkbox-input" (change)="toggleSelection($event, exercise)"> {{ exercise.name }}
        </div>
      </div>
    </div>
    <div class="selected-exercises">
      <h3>Ejercicios Seleccionados</h3>
      <div *ngFor="let exercise of selectedExercises; trackBy: trackById">
        <div class="exercise">
          {{ exercise.name }}
          <button class="remove-button" (click)="removeSelectedExercise(exercise)">X</button>
        </div>
      </div>
    </div>
  </div>
  <button class="add-exercises-btn" (click)="addExercises()">Añadir Ejercicio</button>
</div>
