<button class="plan-button" (click)="planNewRoutine()">Planificar nueva rutina</button>

<div *ngIf="plannedRoutines.length === 0">
  <h3>No hay rutinas planificadas.</h3>
</div>

<div class="routine-list">
  <div class="routine-card" *ngFor="let routine of plannedRoutines">
    <div class="routine-info">
      <h2>Rutina del día: {{ routine.date | date:'dd/MM/yyyy' }}</h2>
    </div>

    <div class="routine-actions">
      <button class="action-button delete" (click)="deletePlannedRoutine(routine)">Eliminar</button>
      <button class="action-button complete" (click)="completePlannedRoutine(routine)">Realizar</button>
    </div>
  </div>
</div>
