<div class="container my-5">
    <h1 class="mb-4">Crear Rutina de Entrenamiento</h1>
    <form #rutinaForm="ngForm" (ngSubmit)="submitRutina(rutinaForm)">
      <div class="form-group mb-4">
        <label for="name">Nombre de la rutina:</label>
        <input type="text" class="form-control" id="name" name="name" ngModel required>
      </div>
      <div class="form-group mb-4">
        <label for="description">Descripción de la rutina:</label>
        <textarea class="form-control" id="description" name="description" ngModel required></textarea>
      </div>
      <div class="form-group mb-4">
        <button type="button" class="btn btn-primary" (click)="openModal()">Seleccionar ejercicios</button>
      </div>
      <div class="form-group mb-4">
        <h2>Ejercicios seleccionados</h2>
        <ul class="list-group text-right">
          <li *ngFor="let exercise of exercises" class="list-group-item">
            {{ exercise.name }}
          </li>
        </ul>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!rutinaForm.valid || exercises.length === 0">Crear rutina</button>
    </form>
  </div>
  